*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   
    
}
p{
    font-size:20px; 
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff ;

}
nav .logo-1{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-weight: bold;
  
 
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;

}

nav ul a:hover{
    border: 2px solid gray;
    color: blue;
    background-color: white;
    border-radius: 5px;
}
body {
    background-color:black;
    color: #fff;
}
.main-image{
    border: 3px solid gray;
    border-radius: 50%;
    height: 400px;
    width: 600px;
}

.contentMain {
    border: 5px soild red ;
}

.backgroundImage{
    margin-left: 10px;
    width: 98%;
    color: #000;
    background: url(home-image/d974e1bf-5cb4-4d2f-9377-5448a387308e.jpg);
    background-size: cover;
    height: 305px;
   
}